**Library**

In [ ]:
import pandas as pd

**Data Collect**

In [ ]:
data_origin = pd.read_csv('mergeFile - Copy - Copy.csv')

/tmp/ipython-input-2786517053.py:1: DtypeWarning: Columns (5,7,8,9,11,17,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data_origin = pd.read_csv('mergeFile - Copy - Copy.csv')

In [ ]:
print(data_origin.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623610 entries, 0 to 623609
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          623610 non-null  int64
 1   adType              623599 non-null  object
 2   categoriesCode      621729 non-null  object
 3   categoriesName      621652 non-null  object
 4   companyId           612340 non-null  object
 5   companyName         612428 non-null  object
 6   companyPrivate      616919 non-null  float64
 7   description         246173 non-null  object
 8   employment          358651 non-null  object
 9   id                  623610 non-null  object
 10  isClassified        623610 non-null  bool
 11  isStandout          623610 non-null  object
 12  jobTitle            623610 non-null  object
 13  jobUrl              623610 non-null  object
 14  locations           623576 non-null  object
 15  postingDuration     617900 non-null  object
 16  postedAt            623610 non-null  object
 17  salarycurrency      94482 non-null   object
 18  salaryMin           94468 non-null   float64
 19  salaryMax           100176 non-null  object
 20  salaryPeriod        616855 non-null  object
 21  salaryTerm          645 non-null     object
 22  sellingPoints       60089 non-null   object
 23  companyDescription  3688 non-null    object
dtypes: bool(1), float64(2), int64(1), object(20)
memory usage: 110.0+ MB
None

**Data Cleaning**

In [ ]:
data_origin = data_origin.drop(columns = ["companyPrivate","jobUrl", "postingDuration"])
print(data_origin.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623610 entries, 0 to 623609
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          623610 non-null  int64
 1   adType              623599 non-null  object
 2   categoriesCode      621729 non-null  object
 3   categoriesName      621652 non-null  object
 4   companyId           612340 non-null  object
 5   companyName         612428 non-null  object
 6   description         246173 non-null  object
 7   employment          358651 non-null  object
 8   id                  623610 non-null  object
 9   isClassified        623610 non-null  bool
 10  isStandout          623610 non-null  object
 11  jobTitle            623610 non-null  object
 12  locations           623576 non-null  object
 13  postedAt            623610 non-null  object
 14  salarycurrency      94482 non-null   object
 15  salaryMin           94468 non-null   float64
 16  salaryMax           100176 non-null  object
 17  salaryPeriod        616855 non-null  object
 18  salaryTerm          645 non-null     object
 19  sellingPoints       60089 non-null   object
 20  companyDescription  3688 non-null    object
dtypes: bool(1), float64(1), int64(1), object(18)
memory usage: 95.8+ MB
None

In [ ]:
# Menjadi timezone biar naive (tanpa UTC info)
data_origin['postedAt'] = pd.to_datetime(data_origin['postedAt'], errors='coerce', utc=True)

data_origin['postedAt'] = data_origin['postedAt'].dt.tz_convert(None)

print(data_origin['postedAt'].dtype)

datetime64[ns]

In [ ]:
# Konversi ke float
data_origin['salaryMax'] = pd.to_numeric(data_origin['salaryMax'], errors='coerce')

print(data_origin['salaryMax'].dtype)

float64

In [ ]:
print(data_origin.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623610 entries, 0 to 623609
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          623610 non-null  int64
 1   adType              623599 non-null  object
 2   categoriesCode      621729 non-null  object
 3   categoriesName      621652 non-null  object
 4   companyId           612340 non-null  object
 5   companyName         612428 non-null  object
 6   description         246173 non-null  object
 7   employment          358651 non-null  object
 8   id                  623610 non-null  object
 9   isClassified        623610 non-null  bool
 10  isStandout          623610 non-null  object
 11  jobTitle            623610 non-null  object
 12  locations           623576 non-null  object
 13  postedAt            616919 non-null  datetime64[ns]
 14  salarycurrency      94482 non-null   object
 15  salaryMin           94468 non-null   float64
 16  salaryMax           93485 non-null   float64
 17  salaryPeriod        616855 non-null  object
 18  salaryTerm          645 non-null     object
 19  sellingPoints       60089 non-null   object
 20  companyDescription  3688 non-null    object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 95.8+ MB
None

In [ ]:
print(data_origin.shape)

(623610, 21)

In [ ]:
data_origin.isnull().sum()

Unnamed: 0                 0
adType                    11
categoriesCode          1881
categoriesName          1958
companyId              11270
companyName            11182
description           377437
employment            264959
id                         0
isClassified               0
isStandout                 0
jobTitle                   0
locations                 34
postedAt                6691
salarycurrency        529128
salaryMin             529142
salaryMax             530125
salaryPeriod            6755
salaryTerm            622965
sellingPoints         563521
companyDescription    619922
dtype: int64

In [ ]:
data_filled = data_origin.fillna(0)
data_filled.isnull().sum()

Unnamed: 0            0
adType                0
categoriesCode        0
categoriesName        0
companyId             0
companyName           0
description           0
employment            0
id                    0
isClassified          0
isStandout            0
jobTitle              0
locations             0
postedAt              0
salarycurrency        0
salaryMin             0
salaryMax             0
salaryPeriod          0
salaryTerm            0
sellingPoints         0
companyDescription    0
dtype: int64

**Data Exploratory**

In [ ]:
print(data_filled['locations'].unique()[:50])

['Jakarta Selatan' 'Tangerang' 'Bandung' 'Surabaya' 'Bekasi'
 'Kalimantan Timur,Kalimantan Selatan' 'Semarang' 'Jakarta Barat'
 'Jakarta Utara' 'Jakarta Barat,Tangerang' 'Jakarta Barat,Malang'
 'Jakarta Raya'
 'Batam,Jakarta Raya,Bogor,Bekasi,Depok,Banjarmasin,Surabaya,Denpasar,Pontianak'
 'Riau' 'Jakarta Pusat' 'Yogyakarta' 'Batam' 'Jawa Barat' 'Jawa Tengah'
 'Cikarang' 'Seminyak' 'Indonesia' 'Cilegon' 'Jakarta Timur' 'Batam,Riau'
 'Kuta' 'Makassar' 'Karawang' 'Jawa Timur' 'Bali'
 'Jakarta Raya,Bogor,Depok,Banten' 'Bogor' 'Cikarang,Jakarta Raya'
 'Magelang,Salatiga,Kudus' 'Bogor,Jakarta Raya' 'Depok' 'Banten'
 'Salatiga,Semarang,Tegal' 'Sulawesi Tengah,Jakarta Raya,Manado,Halmahera'
 'Jepara' 'Padang,Bukittinggi,Dumai,Pekanbaru,Bintan,Batam'
 'Sibolga,Padang Sidempuan' 'Jakarta Raya,Banten'
 'Jakarta Raya,Bekasi,Depok,Tangerang' 'Sumatera Utara'
 'Jawa Timur,Jakarta Raya' 'Tangerang,Jakarta Raya'
 'Tangerang,Jakarta Barat' 'Cilacap,Pekalongan,Purwokerto,Tegal'
 'Medan,Bandung']

In [ ]:
mapping = {
    'Jakarta Barat': 'Jakarta',
    'Jakarta Utara': 'Jakarta',
    'Jakarta Raya': 'Jakarta',
    'Jakarta Pusat': 'Jakarta',
    'Jakarta Selatan': 'Jakarta',
    'Jakarta Timur': 'Jakarta'
}

# langsung replace di kolom locations
data_filled['locations'] = data_filled['locations'].replace(mapping)

In [ ]:
# pastikan kolom 'locations' string
data_filled['locations'] = data_filled['locations'].astype(str).str.strip()

# drop semua baris yang mengandung koma di kolom 'locations'
data_exploded = data_filled[~data_filled['locations'].str.contains(",", regex=False)]

print(data_exploded ['locations'].unique()[:20])
print("Jumlah baris:", data_exploded.shape[0])

['Jakarta' 'Tangerang' 'Bandung' 'Surabaya' 'Bekasi' 'Semarang' 'Riau'
 'Yogyakarta' 'Batam' 'Jawa Barat' 'Jawa Tengah' 'Cikarang' 'Seminyak'
 'Indonesia' 'Cilegon' 'Kuta' 'Makassar' 'Karawang' 'Jawa Timur' 'Bali']
Jumlah baris: 588434

In [ ]:
drop_list = [
    'Jawa Barat', 'Jawa Tengah', 'Jawa Timur', 'Indonesia','Sumatera Utara','Sumatera Selatan','Sumatera Barat', 'Kalimantan Utara','Kalimantan Barat','Kalimantan Tengah', 'Kalimantan Selatan', '0',
    'Sulawesi Tengah', 'Sulawesi Tenggara', 'Sulawesi Barat','Sulawesi Selatan', 'Nusa Tenggara Timur', 'Sulawesi Utara','Nusa Tenggara Barat','Papua', 'Papua Barat',
    'Maluku Barat','Plot 2', 'Serasa Industrial Area', 'Brunei Muara', 'TRIMULIA Tower Sihanoukville Cambodia','Savannakhet Province',
    'Taiwan', 'Central', 'United Arab Emirates', 'Kuwait','East', 'Myanmar',  'National Capital Reg','Papua New Guinea', 'Kabupaten Katingan',
    'Brunei', 'North-East', 'Australia', 'Maluku Tengah','Cambodia,' 'West','Downtown Core', 'Saudi Arabia',
    'Outram', 'Thailand','Netherlands', 'Qatar', 'Cyberjaya', 'Sukamara' 'Taiwan', 'Laos', 'United Kingdom', 'Singapore', 'China',
    'ARMM', 'Japan','Timor-Leste', 'Maluku Tenggara', 'Bali', 'IBP2', 'India','Others','Singapura', 'Cambodia', 'West'
]

# Drop baris yang lokasi-nya ada di drop_list
data_exploded = data_exploded[~data_exploded['locations'].isin(drop_list)]

print(data_exploded['locations'].unique()[:1000])

['Jakarta' 'Tangerang' 'Bandung' 'Surabaya' 'Bekasi' 'Semarang' 'Riau'
 'Yogyakarta' 'Batam' 'Cikarang' 'Seminyak' 'Cilegon' 'Kuta' 'Makassar'
 'Karawang' 'Bogor' 'Depok' 'Banten' 'Jepara' 'Kota Banda Aceh' 'Jember'
 'Pekanbaru' 'Medan' 'Pontianak' 'Manado' 'Metro Manila' 'Tuban'
 'Denpasar' 'Natuna Ranai' 'Samarinda' 'Purbalingga' 'Balikpapan'
 'Jayapura' 'Banjarmasin' 'Badung' 'Kendari' 'Purwokerto' 'Tegal' 'Serang'
 'Tasikmalaya' 'Surakarta' 'Maluku Utara' 'Cikupa' 'Demak' 'Binjai'
 'Cilacap' 'Banyuwangi' 'Jambi' 'Salatiga' 'Lhokseumawe' 'Cirebon'
 'Cianjur' 'Bintan' 'Palu' 'Malang' 'Sidoarjo' 'Kudus' 'Kupang'
 'Kotawaringin Barat' 'Palembang' 'Sleman' 'Kotawaringin Timur'
 'Kalimantan Timur' 'Cibinong' 'Kota Damansara' 'Gresik' 'Bandar Lampung'
 'Mojokerto' 'Cileungsi' 'Bangka Belitung' 'Bantul' 'Mandaluyong'
 'Bontang' 'Purwakarta' 'Gorontalo' 'Sintang' 'Paser' 'Brebes' 'Ungaran'
 'Palangkaraya' 'Sukabumi' 'Ponorogo' 'Pekalongan' 'Kediri' 'Pare-Pare'
 'Murung Raya' 'Meulaboh' 'Madiun' 'Kutai Kartanegara' 'Padang' 'Magelang'
 'Nunukan' 'Kutai Timur' 'Pandeglang' 'Gunung Mas' 'Tabalong' 'Bengkulu'
 'Kutai Barat' 'Phnom Penh' 'Pasuruan' 'Aceh' 'Klaten' 'Gianyar'
 'Ketapang' 'Citeureup' 'Pemalang' 'Blitar' 'Lampung' 'Lombok' 'Bone'
 'Ambon' 'Cimahi' 'Tanjung Pinang' 'Mataram' 'Timika' 'Sorong' 'Kapuas'
 'Pangkal Pinang' 'Metro' 'Halmahera' 'Probolinggo' 'Purworejo' 'Bangka'
 'Palopo' 'Rangkasbitung' 'Wonogiri' 'Makati City' 'Mamuju' 'Sumbawa'
 'Dumai' 'Flores Timur Larantuka' 'Banjarnegara' 'Pematangsiantar'
 'Madura' 'Gowa' 'Muara Enim' 'Bukittinggi' 'Bulungan' 'Tarakan' 'Ubud'
 'Gunung Kidul' 'Ternate' 'Kepulauan Seribu' 'Seruyan' 'Maros'
 'Kepulauan Riau' 'Barito Selatan' 'Makati' 'Prabumulih' 'Dubai'
 'Klungkung' 'Minahasa' 'Belitung' 'Banjarbaru' 'Karangasem' 'Manokwari'
 'Batu' 'Tanah Bumbu' 'Kulon Progo' 'Bengkayang' 'Ende' 'Barito Utara'
 'Kotabaru' 'Sekadau' 'Kubu Raya' 'Abu Dhabi' 'Port Moresby' 'Merauke'
 'Sanggau' 'Bima' 'Jalan Sri Hartamas' 'Maluku' 'Barito Timur' 'Toraja'
 'Padang Sidempuan' 'Balangan' 'Malinau' 'Tapanuli' 'Asahan Kisaran'
 'Sunway City' 'Pangandaran' 'Mempawah' 'Singkawang' 'Bitung' 'Melaka'
 'Poso' 'Orchard' 'Petaling Jaya' 'Sibolga' 'Kuala Lumpur' 'Queenstown'
 'Penang' 'Donggala' 'Buton' 'Johor' 'Kotamobagu' 'Ampang' 'Tapin'
 'Banjar' 'Bintulu' 'Barito Kuala' 'Hong Kong' 'Tanah Laut'
 'Tanjung Balai' 'Tampines' 'Penajam Paser Utara' 'Hulu Sungai Tengah'
 'Bangkok' 'Sambas' 'Nias' 'Sampang' 'Paya Lebar' 'Melawi' 'Kapuas Hulu'
 'Landak' 'Sembawang' 'Tomohon' 'Takengon' 'Johor Bahru' 'Senggigi'
 'Hulu Sungai Utara' 'Shah Alam/Subang' 'Miri' 'Hulu Sungai Selatan'
 'Sarawak' 'Manila City' 'Lamandau' 'Puchong' 'Bayan Lepas' 'Selangor'
 'Rochor' 'Bentong' 'Yishun' 'Kayong Utara' 'Bukit Merah' 'Sukamara'
 'Sabang' 'Kallang' 'Jurong East' 'Pulang Pisau' 'Ang Mo Kio' 'Gelugor'
 '2022-09-22T21:30:36Z' '2022-09-22T21:30:22Z' '2022-09-22T21:30:21Z'
 '2022-09-22T21:30:17Z' '2022-09-22T21:30:09Z' '2022-09-22T21:01:31Z'
 '2022-09-22T21:00:55Z' '2022-09-22T21:00:29Z' '2022-09-22T20:47:10Z'
 '2022-09-22T20:01:37Z' '2022-09-22T20:01:36Z' '2022-09-22T20:01:35Z'
 '2022-09-22T20:01:34Z' '2022-09-22T20:01:33Z' '2022-09-22T20:01:32Z'
 '2022-09-22T20:01:31Z' '2022-09-22T20:01:30Z' '2022-09-22T20:01:29Z'
 '2022-09-22T20:01:28Z' '2022-09-22T20:01:27Z' '2022-09-22T20:01:26Z'
 '2022-09-22T20:01:25Z' '2022-09-22T20:01:24Z' '2022-09-22T20:01:23Z'
 '2022-09-22T20:01:22Z' '2022-09-22T20:01:21Z' '2022-09-22T20:01:20Z'
 '2022-09-22T20:01:19Z' '2022-09-22T20:01:18Z' '2022-09-22T20:01:17Z'
 '2022-09-22T20:01:16Z' '2022-09-22T20:01:15Z' '2022-09-22T20:01:14Z'
 '2022-09-22T20:01:13Z' '2022-09-22T20:01:12Z' '2022-09-22T20:01:11Z'
 '2022-09-22T20:01:10Z' '2022-09-22T20:01:09Z' '2022-09-22T20:01:08Z'
 '2022-09-22T20:01:07Z' '2022-09-22T20:01:06Z' '2022-09-22T20:01:05Z'
 '2022-09-22T20:01:04Z' '2022-09-22T20:01:03Z' '2022-09-22T20:01:02Z'
 '2022-09-22T20:01:01Z' '2022-09-22T20:01:00Z' '2022-09-22T20:00:59Z'
 '2022-09-22T20:00:58Z' '2022-09-22T20:00:57Z' '2022-09-22T20:00:56Z'
 '2022-09-22T20:00:55Z' '2022-09-22T20:00:54Z' '2022-09-22T20:00:53Z'
 '2022-09-22T20:00:52Z' '2022-09-22T20:00:51Z' '2022-09-22T20:00:50Z'
 '2022-09-22T20:00:49Z' '2022-09-22T20:00:48Z' '2022-09-22T20:00:47Z'
 '2022-09-22T20:00:46Z' '2022-09-22T20:00:45Z' '2022-09-22T20:00:44Z'
 '2022-09-22T20:00:43Z' '2022-09-22T20:00:42Z' '2022-09-22T20:00:41Z'
 '2022-09-22T20:00:40Z' '2022-09-22T20:00:39Z' '2022-09-22T20:00:38Z'
 '2022-09-22T20:00:37Z' '2022-09-22T20:00:36Z' '2022-09-22T20:00:35Z'
 '2022-09-22T20:00:34Z' '2022-09-22T20:00:33Z' '2022-09-22T20:00:32Z'
 '2022-09-22T20:00:31Z' '2022-09-22T19:00:59Z' '2022-09-22T18:30:53Z'
 '2022-09-22T18:30:41Z' '2022-09-22T18:28:07Z' '2022-09-22T18:27:55Z'
 '2022-09-22T18:27:42Z' '2022-09-22T18:26:17Z' '2022-09-22T18:20:40Z'
 '2022-09-22T18:20:28Z' '2022-09-22T18:20:15Z' '2022-09-22T18:19:51Z'
 '2022-09-22T18:19:26Z' '2022-09-22T18:19:03Z' '2022-09-22T18:18:50Z'
 '2022-09-22T18:18:38Z' '2022-09-22T18:18:27Z' '2022-09-22T18:18:14Z'
 '2022-09-22T18:18:01Z' '2022-09-22T18:17:50Z' '2022-09-22T18:17:25Z'
 '2022-09-22T18:17:00Z' '2022-09-22T18:16:51Z' '2022-09-22T18:16:50Z'
 '2022-09-22T18:16:22Z' '2022-09-22T18:16:10Z' '2022-09-22T18:15:58Z'
 '2022-09-22T18:15:45Z' '2022-09-22T18:15:33Z' '2022-09-22T18:15:30Z'
 '2022-09-22T18:15:10Z' '2022-09-22T18:14:57Z' '2022-09-22T18:14:45Z'
 '2022-09-22T18:14:32Z' '2022-09-22T18:14:20Z' '2022-09-22T18:13:55Z'
 '2022-09-22T18:13:41Z' '2022-09-22T18:13:30Z' '2022-09-22T18:13:16Z'
 '2022-09-22T18:13:04Z' '2022-09-22T18:12:53Z' '2022-09-22T18:12:42Z'
 '2022-09-22T18:12:29Z' '2022-09-22T18:12:16Z' '2022-09-22T18:12:04Z'
 '2022-09-22T18:11:52Z' '2022-09-22T18:11:40Z' '2022-09-22T18:11:27Z'
 '2022-09-22T18:11:15Z' '2022-09-22T18:11:04Z' '2022-09-22T18:10:52Z'
 '2022-09-22T18:10:42Z' '2022-09-22T18:10:28Z' '2022-09-22T18:10:15Z'
 '2022-09-22T18:10:04Z' '2022-09-22T18:09:51Z' '2022-09-22T18:09:39Z'
 '2022-09-22T18:09:38Z' '2022-09-22T18:09:27Z' '2022-09-22T18:09:15Z'
 '2022-09-22T18:09:02Z' '2022-09-22T18:08:51Z' '2022-09-22T18:08:40Z'
 '2022-09-22T18:08:26Z' '2022-09-22T18:08:15Z' '2022-09-22T18:08:02Z'
 '2022-09-22T18:07:50Z' '2022-09-22T18:07:37Z' '2022-09-22T18:07:26Z'
 '2022-09-22T18:07:14Z' '2022-09-22T18:07:01Z' '2022-09-22T18:06:50Z'
 '2022-09-22T18:06:37Z' '2022-09-22T18:06:25Z' '2022-09-22T18:06:13Z'
 '2022-09-22T18:06:00Z' '2022-09-22T18:05:49Z' '2022-09-22T18:05:37Z'
 '2022-09-22T18:05:25Z' '2022-09-22T18:05:12Z' '2022-09-22T18:05:00Z'
 '2022-09-22T18:04:48Z' '2022-09-22T18:04:36Z' '2022-09-22T18:04:23Z'
 '2022-09-22T18:04:12Z' '2022-09-22T18:04:00Z' '2022-09-22T18:03:48Z'
 '2022-09-22T18:03:36Z' '2022-09-22T18:03:23Z' '2022-09-22T18:03:12Z'
 '2022-09-22T18:02:59Z' '2022-09-22T18:02:35Z' '2022-09-22T18:02:22Z'
 '2022-09-22T18:01:59Z' '2022-09-22T18:01:47Z' '2022-09-22T18:01:36Z'
 '2022-09-22T18:01:25Z' '2022-09-22T18:01:01Z' '2022-09-22T18:00:50Z'
 '2022-09-22T18:00:38Z' '2022-09-22T18:00:26Z' '2022-09-22T18:00:16Z'
 '2022-09-22T18:00:04Z' '2022-09-22T17:59:53Z' '2022-09-22T17:59:41Z'
 '2022-09-22T17:59:29Z' '2022-09-22T17:59:18Z' '2022-09-22T17:59:06Z'
 '2022-09-22T17:58:55Z' '2022-09-22T17:58:43Z' '2022-09-22T17:58:31Z'
 '2022-09-22T17:58:20Z' '2022-09-22T17:58:07Z' '2022-09-22T17:57:57Z'
 '2022-09-22T17:57:45Z' '2022-09-22T17:57:33Z' '2022-09-22T17:57:22Z'
 '2022-09-22T17:57:10Z' '2022-09-22T17:56:59Z' '2022-09-22T17:56:47Z'
 '2022-09-22T17:56:26Z' '2022-09-22T17:56:15Z' '2022-09-22T17:55:52Z'
 '2022-09-22T17:55:41Z' '2022-09-22T17:55:31Z' '2022-09-22T17:55:19Z'
 '2022-09-22T17:55:07Z' '2022-09-22T17:54:55Z' '2022-09-22T17:54:43Z'
 '2022-09-22T17:54:33Z' '2022-09-22T17:54:20Z' '2022-09-22T17:54:08Z'
 '2022-09-22T17:53:57Z' '2022-09-22T17:53:46Z' '2022-09-22T17:53:34Z'
 '2022-09-22T17:53:23Z' '2022-09-22T17:53:11Z' '2022-09-22T17:52:59Z'
 '2022-09-22T17:52:47Z' '2022-09-22T17:52:34Z' '2022-09-22T17:52:22Z'
 '2022-09-22T17:52:10Z' '2022-09-22T17:51:59Z' '2022-09-22T17:51:47Z'
 '2022-09-22T17:51:34Z' '2022-09-22T17:51:22Z' '2022-09-22T17:51:11Z'
 '2022-09-22T17:50:59Z' '2022-09-22T17:50:34Z' '2022-09-22T17:50:23Z'
 '2022-09-22T17:50:10Z' '2022-09-22T17:49:58Z' '2022-09-22T17:49:45Z'
 '2022-09-22T17:49:33Z' '2022-09-22T17:49:20Z' '2022-09-22T17:49:10Z'
 '2022-09-22T17:48:57Z' '2022-09-22T17:48:45Z' '2022-09-22T17:48:33Z'
 '2022-09-22T17:48:20Z' '2022-09-22T17:48:09Z' '2022-09-22T17:47:56Z'
 '2022-09-22T17:47:43Z' '2022-09-22T17:47:31Z' '2022-09-22T17:47:30Z'
 '2022-09-22T17:47:18Z' '2022-09-22T17:47:07Z' '2022-09-22T17:46:53Z'
 '2022-09-22T17:46:41Z' '2022-09-22T17:46:29Z' '2022-09-22T17:46:15Z'
 '2022-09-22T17:46:03Z' '2022-09-22T17:45:51Z' '2022-09-22T17:45:38Z'
 '2022-09-22T17:45:26Z' '2022-09-22T17:45:14Z' '2022-09-22T17:45:00Z'
 '2022-09-22T17:44:47Z' '2022-09-22T17:44:35Z' '2022-09-22T17:44:23Z'
 '2022-09-22T17:44:10Z' '2022-09-22T17:43:58Z' '2022-09-22T17:43:45Z'
 '2022-09-22T17:43:33Z' '2022-09-22T17:43:20Z' '2022-09-22T17:43:07Z'
 '2022-09-22T17:42:54Z' '2022-09-22T17:42:42Z' '2022-09-22T17:42:29Z'
 '2022-09-22T17:42:17Z' '2022-09-22T17:42:04Z' '2022-09-22T17:41:50Z'
 '2022-09-22T17:41:37Z' '2022-09-22T17:41:23Z' '2022-09-22T17:41:10Z'
 '2022-09-22T17:40:58Z' '2022-09-22T17:40:33Z' '2022-09-22T17:40:06Z'
 '2022-09-22T17:39:53Z' '2022-09-22T17:39:41Z' '2022-09-22T17:39:27Z'
 '2022-09-22T17:39:15Z' '2022-09-22T17:39:01Z' '2022-09-22T17:38:50Z'
 '2022-09-22T17:38:36Z' '2022-09-22T17:38:22Z' '2022-09-22T17:38:08Z'
 '2022-09-22T17:37:56Z' '2022-09-22T17:37:43Z' '2022-09-22T17:37:29Z'
 '2022-09-22T17:37:16Z' '2022-09-22T17:37:03Z' '2022-09-22T17:36:51Z'
 '2022-09-22T17:36:38Z' '2022-09-22T17:36:25Z' '2022-09-22T17:36:12Z'
 '2022-09-22T17:35:59Z' '2022-09-22T17:35:47Z' '2022-09-22T17:35:34Z'
 '2022-09-22T17:35:21Z' '2022-09-22T17:35:07Z' '2022-09-22T17:34:54Z'
 '2022-09-22T17:34:53Z' '2022-09-22T17:34:41Z' '2022-09-22T17:34:28Z'
 '2022-09-22T17:34:16Z' '2022-09-22T17:34:15Z' '2022-09-22T17:34:02Z'
 '2022-09-22T17:33:50Z' '2022-09-22T17:33:37Z' '2022-09-22T17:33:24Z'
 '2022-09-22T17:33:11Z' '2022-09-22T17:32:58Z' '2022-09-22T17:32:46Z'
 '2022-09-22T17:32:33Z' '2022-09-22T17:32:21Z' '2022-09-22T17:32:08Z'
 '2022-09-22T17:31:56Z' '2022-09-22T17:31:43Z' '2022-09-22T17:31:31Z'
 '2022-09-22T17:31:18Z' '2022-09-22T17:31:07Z' '2022-09-22T17:30:54Z'
 '2022-09-22T17:30:42Z' '2022-09-22T17:30:29Z' '2022-09-22T17:30:15Z'
 '2022-09-22T17:30:02Z' '2022-09-22T17:29:37Z' '2022-09-22T17:29:24Z'
 '2022-09-22T17:29:12Z' '2022-09-22T17:28:59Z' '2022-09-22T17:28:46Z'
 '2022-09-22T17:28:33Z' '2022-09-22T17:28:21Z' '2022-09-22T17:28:08Z'
 '2022-09-22T17:27:42Z' '2022-09-22T17:27:29Z' '2022-09-22T17:27:16Z'
 '2022-09-22T17:27:04Z' '2022-09-22T17:26:52Z' '2022-09-22T17:26:40Z'
 '2022-09-22T17:26:28Z' '2022-09-22T17:26:15Z' '2022-09-22T17:26:02Z'
 '2022-09-22T17:25:50Z' '2022-09-22T17:25:38Z' '2022-09-22T17:25:14Z'
 '2022-09-22T17:24:49Z' '2022-09-22T17:24:36Z' '2022-09-22T17:24:23Z'
 '2022-09-22T17:24:11Z' '2022-09-22T17:23:58Z' '2022-09-22T17:23:34Z'
 '2022-09-22T17:23:09Z' '2022-09-22T17:22:08Z' '2022-09-22T17:21:55Z'
 '2022-09-22T17:21:31Z' '2022-09-22T17:21:06Z' '2022-09-22T17:20:55Z'
 '2022-09-22T17:20:42Z' '2022-09-22T17:20:30Z' '2022-09-22T17:20:17Z'
 '2022-09-22T17:19:53Z' '2022-09-22T17:19:17Z' '2022-09-22T17:18:28Z'
 '2022-09-22T17:17:40Z' '2022-09-22T17:15:12Z' '2022-09-22T17:14:22Z'
 '2022-09-22T17:13:57Z' '2022-09-22T17:13:44Z' '2022-09-22T17:13:33Z'
 '2022-09-22T17:12:44Z' '2022-09-22T17:12:32Z' '2022-09-22T17:12:20Z'
 '2022-09-22T17:12:07Z' '2022-09-22T17:11:55Z' '2022-09-22T17:11:29Z'
 '2022-09-22T17:11:17Z' '2022-09-22T17:11:06Z' '2022-09-22T17:10:53Z'
 '2022-09-22T17:10:41Z' '2022-09-22T17:10:29Z' '2022-09-22T17:10:03Z'
 '2022-09-22T17:09:50Z' '2022-09-22T17:09:38Z' '2022-09-22T17:09:13Z'
 '2022-09-22T17:09:00Z' '2022-09-22T17:08:48Z' '2022-09-22T17:08:36Z'
 '2022-09-22T17:08:10Z' '2022-09-22T17:08:00Z' '2022-09-22T17:07:47Z'
 '2022-09-22T17:07:35Z' '2022-09-22T17:07:22Z' '2022-09-22T17:07:10Z'
 '2022-09-22T17:06:59Z' '2022-09-22T17:06:46Z' '2022-09-22T17:06:34Z'
 '2022-09-22T17:06:21Z' '2022-09-22T17:06:09Z' '2022-09-22T17:05:44Z'
 '2022-09-22T17:05:33Z' '2022-09-22T17:05:32Z' '2022-09-22T17:05:20Z'
 '2022-09-22T17:05:08Z' '2022-09-22T17:04:17Z' '2022-09-22T17:04:05Z'
 '2022-09-22T17:04:04Z' '2022-09-22T17:03:40Z' '2022-09-22T17:03:28Z'
 '2022-09-22T17:03:15Z' '2022-09-22T17:03:02Z' '2022-09-22T17:02:50Z'
 '2022-09-22T17:02:26Z' '2022-09-22T17:02:14Z' '2022-09-22T17:02:01Z'
 '2022-09-22T17:01:49Z' '2022-09-22T17:01:36Z' '2022-09-22T17:01:24Z'
 '2022-09-22T17:01:11Z' '2022-09-22T17:00:58Z' '2022-09-22T17:00:46Z'
 '2022-09-22T17:00:34Z' '2022-09-22T17:00:22Z' '2022-09-22T17:00:10Z'
 '2022-09-22T17:00:00Z' '2022-09-22T16:59:58Z' '2022-09-22T16:59:45Z'
 '2022-09-22T16:59:32Z' '2022-09-22T16:59:21Z' '2022-09-22T16:59:09Z'
 '2022-09-22T16:58:56Z' '2022-09-22T16:58:45Z' '2022-09-22T16:58:33Z'
 '2022-09-22T16:58:21Z' '2022-09-22T16:58:10Z' '2022-09-22T16:57:56Z'
 '2022-09-22T16:57:46Z' '2022-09-22T16:57:33Z' '2022-09-22T16:57:21Z'
 '2022-09-22T16:57:20Z' '2022-09-22T16:57:08Z' '2022-09-22T16:56:56Z'
 '2022-09-22T16:56:44Z' '2022-09-22T16:56:31Z' '2022-09-22T16:56:20Z'
 '2022-09-22T16:56:07Z' '2022-09-22T16:55:54Z' '2022-09-22T16:55:53Z'
 '2022-09-22T16:55:41Z' '2022-09-22T16:55:30Z' '2022-09-22T16:55:16Z'
 '2022-09-22T16:55:05Z' '2022-09-22T16:54:53Z' '2022-09-22T16:54:41Z'
 '2022-09-22T16:54:29Z' '2022-09-22T16:54:17Z' '2022-09-22T16:54:05Z'
 '2022-09-22T16:53:53Z' '2022-09-22T16:53:40Z' '2022-09-22T16:53:29Z'
 '2022-09-22T16:53:28Z' '2022-09-22T16:53:16Z' '2022-09-22T16:53:04Z'
 '2022-09-22T16:53:03Z' '2022-09-22T16:52:52Z' '2022-09-22T16:52:39Z'
 '2022-09-22T16:52:28Z' '2022-09-22T16:52:15Z' '2022-09-22T16:52:03Z'
 '2022-09-22T16:52:02Z' '2022-09-22T16:51:51Z' '2022-09-22T16:51:38Z'
 '2022-09-22T16:51:27Z' '2022-09-22T16:51:14Z' '2022-09-22T16:51:02Z'
 '2022-09-22T16:50:49Z' '2022-09-22T16:50:25Z' '2022-09-22T16:50:14Z'
 '2022-09-22T16:50:01Z' '2022-09-22T16:49:48Z' '2022-09-22T16:49:37Z'
 '2022-09-22T16:49:25Z' '2022-09-22T16:49:13Z' '2022-09-22T16:49:00Z'
 '2022-09-22T16:48:47Z' '2022-09-22T16:48:36Z' '2022-09-22T16:48:24Z'
 '2022-09-22T16:48:12Z' '2022-09-22T16:47:59Z' '2022-09-22T16:47:47Z'
 '2022-09-22T16:47:34Z' '2022-09-22T16:47:23Z' '2022-09-22T16:46:59Z'
 '2022-09-22T16:46:46Z' '2022-09-22T16:46:34Z' '2022-09-22T16:46:23Z'
 '2022-09-22T16:46:00Z' '2022-09-22T16:45:36Z' '2022-09-22T16:45:23Z'
 '2022-09-22T16:45:12Z' '2022-09-22T16:45:01Z' '2022-09-22T16:45:00Z'
 '2022-09-22T16:44:48Z' '2022-09-22T16:44:38Z' '2022-09-22T16:44:26Z'
 '2022-09-22T16:44:14Z' '2022-09-22T16:44:03Z' '2022-09-22T16:43:51Z'
 '2022-09-22T16:43:40Z' '2022-09-22T16:43:27Z' '2022-09-22T16:43:16Z'
 '2022-09-22T16:43:04Z' '2022-09-22T16:42:52Z' '2022-09-22T16:42:40Z'
 '2022-09-22T16:42:29Z' '2022-09-22T16:42:28Z' '2022-09-22T16:42:16Z'
 '2022-09-22T16:42:05Z' '2022-09-22T16:41:53Z' '2022-09-22T16:41:43Z'
 '2022-09-22T16:41:42Z' '2022-09-22T16:41:31Z' '2022-09-22T16:41:21Z'
 '2022-09-22T16:41:10Z' '2022-09-22T16:40:59Z' '2022-09-22T16:40:48Z'
 '2022-09-22T16:40:15Z' '2022-09-22T16:40:03Z' '2022-09-22T16:39:53Z'
 '2022-09-22T16:39:40Z' '2022-09-22T16:39:30Z' '2022-09-22T16:39:19Z'
 '2022-09-22T16:39:09Z' '2022-09-22T16:38:58Z' '2022-09-22T16:38:57Z'
 '2022-09-22T16:38:47Z' '2022-09-22T16:38:35Z' '2022-09-22T16:38:12Z'
 '2022-09-22T16:38:02Z' '2022-09-22T16:37:51Z' '2022-09-22T16:37:40Z'
 '2022-09-22T16:37:30Z' '2022-09-22T16:37:19Z' '2022-09-22T16:37:07Z'
 '2022-09-22T16:36:55Z' '2022-09-22T16:36:44Z' '2022-09-22T16:36:32Z'
 '2022-09-22T16:36:21Z' '2022-09-22T16:36:10Z' '2022-09-22T16:35:58Z'
 '2022-09-22T16:35:47Z' '2022-09-22T16:35:35Z' '2022-09-22T16:35:24Z'
 '2022-09-22T16:35:12Z' '2022-09-22T16:35:00Z' '2022-09-22T16:34:48Z'
 '2022-09-22T16:34:37Z' '2022-09-22T16:34:26Z' '2022-09-22T16:34:15Z'
 '2022-09-22T16:34:04Z' '2022-09-22T16:33:52Z' '2022-09-22T16:33:39Z'
 '2022-09-22T16:33:29Z' '2022-09-22T16:33:28Z' '2022-09-22T16:33:16Z'
 '2022-09-22T16:33:03Z' '2022-09-22T16:32:52Z' '2022-09-22T16:32:40Z'
 '2022-09-22T16:32:29Z' '2022-09-22T16:32:17Z' '2022-09-22T16:32:05Z'
 '2022-09-22T16:31:53Z' '2022-09-22T16:31:41Z' '2022-09-22T16:31:29Z'
 '2022-09-22T16:31:28Z' '2022-09-22T16:31:17Z' '2022-09-22T16:31:04Z'
 '2022-09-22T16:30:52Z' '2022-09-22T16:30:40Z' '2022-09-22T16:30:27Z'
 '2022-09-22T16:30:15Z' '2022-09-22T16:30:03Z' '2022-09-22T16:29:50Z'
 '2022-09-22T16:29:38Z' '2022-09-22T16:29:25Z' '2022-09-22T16:29:12Z'
 '2022-09-22T16:29:00Z' '2022-09-22T16:28:47Z' '2022-09-22T16:28:35Z'
 '2022-09-22T16:28:23Z' '2022-09-22T16:28:11Z' '2022-09-22T16:27:58Z'
 '2022-09-22T16:27:46Z' '2022-09-22T16:27:34Z' '2022-09-22T16:27:21Z'
 '2022-09-22T16:27:09Z' '2022-09-22T16:26:57Z' '2022-09-22T16:26:44Z'
 '2022-09-22T16:26:32Z' '2022-09-22T16:26:19Z' '2022-09-22T16:26:07Z'
 '2022-09-22T16:25:54Z' '2022-09-22T16:25:42Z' '2022-09-22T16:25:29Z'
 '2022-09-22T16:25:17Z' '2022-09-22T16:25:04Z' '2022-09-22T16:24:52Z'
 '2022-09-22T16:24:39Z' '2022-09-22T16:24:26Z' '2022-09-22T16:24:13Z'
 '2022-09-22T16:24:01Z' '2022-09-22T16:23:49Z' '2022-09-22T16:23:36Z'
 '2022-09-22T16:23:24Z' '2022-09-22T16:23:10Z' '2022-09-22T16:22:58Z'
 '2022-09-22T16:22:45Z' '2022-09-22T16:22:32Z' '2022-09-22T16:22:31Z'
 '2022-09-22T16:22:18Z' '2022-09-22T16:22:04Z' '2022-09-22T16:21:51Z'
 '2022-09-22T16:21:38Z' '2022-09-22T16:21:24Z' '2022-09-22T16:21:12Z'
 '2022-09-22T16:21:11Z' '2022-09-22T16:20:58Z' '2022-09-22T16:20:45Z'
 '2022-09-22T16:20:31Z' '2022-09-22T16:20:16Z' '2022-09-22T16:20:02Z'
 '2022-09-22T16:19:48Z' '2022-09-22T16:19:35Z' '2022-09-22T16:19:22Z'
 '2022-09-22T16:19:07Z' '2022-09-22T16:18:54Z' '2022-09-22T16:18:40Z'
 '2022-09-22T16:18:26Z' '2022-09-22T16:17:59Z' '2022-09-22T16:17:32Z'
 '2022-09-22T16:17:16Z' '2022-09-22T16:17:04Z' '2022-09-22T16:16:50Z'
 '2022-09-22T16:16:37Z' '2022-09-22T16:16:23Z' '2022-09-22T16:16:09Z'
 '2022-09-22T16:15:55Z' '2022-09-22T16:15:41Z' '2022-09-22T16:15:26Z'
 '2022-09-22T16:15:12Z' '2022-09-22T16:14:58Z' '2022-09-22T16:14:45Z'
 '2022-09-22T16:14:44Z' '2022-09-22T16:14:16Z' '2022-09-22T16:14:02Z'
 '2022-09-22T16:13:48Z' '2022-09-22T16:13:34Z' '2022-09-22T16:13:19Z'
 '2022-09-22T16:13:04Z' '2022-09-22T16:12:50Z' '2022-09-22T16:12:36Z'
 '2022-09-22T16:12:21Z' '2022-09-22T16:12:07Z' '2022-09-22T16:11:52Z'
 '2022-09-22T16:11:38Z' '2022-09-22T16:11:23Z' '2022-09-22T16:11:08Z'
 '2022-09-22T16:10:53Z' '2022-09-22T16:10:38Z' '2022-09-22T16:10:24Z'
 '2022-09-22T16:10:09Z' '2022-09-22T16:09:54Z' '2022-09-22T16:09:42Z'
 '2022-09-22T16:09:26Z' '2022-09-22T16:09:14Z' '2022-09-22T16:08:57Z'
 '2022-09-22T16:08:44Z' '2022-09-22T16:08:29Z' '2022-09-22T16:08:13Z'
 '2022-09-22T16:07:59Z' '2022-09-22T16:07:45Z' '2022-09-22T16:07:32Z'
 '2022-09-22T16:07:31Z' '2022-09-22T16:07:03Z' '2022-09-22T16:06:48Z'
 '2022-09-22T16:06:34Z' '2022-09-22T16:06:05Z' '2022-09-22T16:05:51Z'
 '2022-09-22T16:05:36Z' '2022-09-22T16:05:22Z' '2022-09-22T16:05:07Z'
 '2022-09-22T16:04:53Z' '2022-09-22T16:04:38Z' '2022-09-22T16:04:23Z'
 '2022-09-22T16:04:09Z' '2022-09-22T16:03:59Z' '2022-09-22T16:03:55Z'
 '2022-09-22T16:03:42Z' '2022-09-22T16:03:27Z' '2022-09-22T16:03:26Z'
 '2022-09-22T16:03:13Z' '2022-09-22T16:02:59Z' '2022-09-22T16:02:45Z'
 '2022-09-22T16:02:31Z' '2022-09-22T16:02:17Z' '2022-09-22T16:02:04Z'
 '2022-09-22T16:01:50Z' '2022-09-22T16:01:49Z' '2022-09-22T16:01:36Z'
 '2022-09-22T16:01:22Z' '2022-09-22T16:01:09Z' '2022-09-22T16:00:56Z'
 '2022-09-22T16:00:43Z' '2022-09-22T16:00:29Z' '2022-09-22T16:00:15Z'
 '2022-09-22T16:00:12Z' '2022-09-22T16:00:03Z' '2022-09-22T15:59:48Z'
 '2022-09-22T15:59:35Z' '2022-09-22T15:59:21Z' '2022-09-22T15:59:07Z'
 '2022-09-22T15:58:54Z' '2022-09-22T15:58:40Z' '2022-09-22T15:58:26Z'
 '2022-09-22T15:58:14Z' '2022-09-22T15:58:01Z' '2022-09-22T15:57:33Z'
 '2022-09-22T15:57:07Z' '2022-09-22T15:56:54Z' '2022-09-22T15:56:41Z'
 '2022-09-22T15:56:28Z' '2022-09-22T15:56:15Z' '2022-09-22T15:56:03Z'
 '2022-09-22T15:55:49Z' '2022-09-22T15:55:35Z' '2022-09-22T15:55:23Z'

In [ ]:
# Drop baris 'locations' yang isinya mirip timestamp ISO 8601
data_exploded = data_exploded[~data_exploded['locations'].str.contains(r'^\d{4}-\d{2}-\d{2}T', na=False)]

# Reset index biar rapi
data_exploded = data_exploded.reset_index(drop=True)

print(data_exploded['locations'].unique()[:1000])

['Jakarta' 'Tangerang' 'Bandung' 'Surabaya' 'Bekasi' 'Semarang' 'Riau'
 'Yogyakarta' 'Batam' 'Cikarang' 'Seminyak' 'Cilegon' 'Kuta' 'Makassar'
 'Karawang' 'Bogor' 'Depok' 'Banten' 'Jepara' 'Kota Banda Aceh' 'Jember'
 'Pekanbaru' 'Medan' 'Pontianak' 'Manado' 'Metro Manila' 'Tuban'
 'Denpasar' 'Natuna Ranai' 'Samarinda' 'Purbalingga' 'Balikpapan'
 'Jayapura' 'Banjarmasin' 'Badung' 'Kendari' 'Purwokerto' 'Tegal' 'Serang'
 'Tasikmalaya' 'Surakarta' 'Maluku Utara' 'Cikupa' 'Demak' 'Binjai'
 'Cilacap' 'Banyuwangi' 'Jambi' 'Salatiga' 'Lhokseumawe' 'Cirebon'
 'Cianjur' 'Bintan' 'Palu' 'Malang' 'Sidoarjo' 'Kudus' 'Kupang'
 'Kotawaringin Barat' 'Palembang' 'Sleman' 'Kotawaringin Timur'
 'Kalimantan Timur' 'Cibinong' 'Kota Damansara' 'Gresik' 'Bandar Lampung'
 'Mojokerto' 'Cileungsi' 'Bangka Belitung' 'Bantul' 'Mandaluyong'
 'Bontang' 'Purwakarta' 'Gorontalo' 'Sintang' 'Paser' 'Brebes' 'Ungaran'
 'Palangkaraya' 'Sukabumi' 'Ponorogo' 'Pekalongan' 'Kediri' 'Pare-Pare'
 'Murung Raya' 'Meulaboh' 'Madiun' 'Kutai Kartanegara' 'Padang' 'Magelang'
 'Nunukan' 'Kutai Timur' 'Pandeglang' 'Gunung Mas' 'Tabalong' 'Bengkulu'
 'Kutai Barat' 'Phnom Penh' 'Pasuruan' 'Aceh' 'Klaten' 'Gianyar'
 'Ketapang' 'Citeureup' 'Pemalang' 'Blitar' 'Lampung' 'Lombok' 'Bone'
 'Ambon' 'Cimahi' 'Tanjung Pinang' 'Mataram' 'Timika' 'Sorong' 'Kapuas'
 'Pangkal Pinang' 'Metro' 'Halmahera' 'Probolinggo' 'Purworejo' 'Bangka'
 'Palopo' 'Rangkasbitung' 'Wonogiri' 'Makati City' 'Mamuju' 'Sumbawa'
 'Dumai' 'Flores Timur Larantuka' 'Banjarnegara' 'Pematangsiantar'
 'Madura' 'Gowa' 'Muara Enim' 'Bukittinggi' 'Bulungan' 'Tarakan' 'Ubud'
 'Gunung Kidul' 'Ternate' 'Kepulauan Seribu' 'Seruyan' 'Maros'
 'Kepulauan Riau' 'Barito Selatan' 'Makati' 'Prabumulih' 'Dubai'
 'Klungkung' 'Minahasa' 'Belitung' 'Banjarbaru' 'Karangasem' 'Manokwari'
 'Batu' 'Tanah Bumbu' 'Kulon Progo' 'Bengkayang' 'Ende' 'Barito Utara'
 'Kotabaru' 'Sekadau' 'Kubu Raya' 'Abu Dhabi' 'Port Moresby' 'Merauke'
 'Sanggau' 'Bima' 'Jalan Sri Hartamas' 'Maluku' 'Barito Timur' 'Toraja'
 'Padang Sidempuan' 'Balangan' 'Malinau' 'Tapanuli' 'Asahan Kisaran'
 'Sunway City' 'Pangandaran' 'Mempawah' 'Singkawang' 'Bitung' 'Melaka'
 'Poso' 'Orchard' 'Petaling Jaya' 'Sibolga' 'Kuala Lumpur' 'Queenstown'
 'Penang' 'Donggala' 'Buton' 'Johor' 'Kotamobagu' 'Ampang' 'Tapin'
 'Banjar' 'Bintulu' 'Barito Kuala' 'Hong Kong' 'Tanah Laut'
 'Tanjung Balai' 'Tampines' 'Penajam Paser Utara' 'Hulu Sungai Tengah'
 'Bangkok' 'Sambas' 'Nias' 'Sampang' 'Paya Lebar' 'Melawi' 'Kapuas Hulu'
 'Landak' 'Sembawang' 'Tomohon' 'Takengon' 'Johor Bahru' 'Senggigi'
 'Hulu Sungai Utara' 'Shah Alam/Subang' 'Miri' 'Hulu Sungai Selatan'
 'Sarawak' 'Manila City' 'Lamandau' 'Puchong' 'Bayan Lepas' 'Selangor'
 'Rochor' 'Bentong' 'Yishun' 'Kayong Utara' 'Bukit Merah' 'Sukamara'
 'Sabang' 'Kallang' 'Jurong East' 'Pulang Pisau' 'Ang Mo Kio' 'Gelugor']

In [ ]:
print(data_exploded['employment'].unique()[:10])

['full_time' 'contract' 'internship' 0 'part_time' 'temporary'
 'full_time,contract' 'contract,temporary' 'full_time,part_time'
 'part_time,contract']

In [ ]:
# pastikan kolom 'employment' string
data_exploded['employment'] = data_exploded['employment'].astype(str).str.strip()

# drop semua baris yang mengandung koma di kolom 'locations'
data_exploded = data_exploded[~data_exploded['employment'].str.contains(",", regex=False)]

print(data_exploded ['employment'].unique()[:20])
print("Jumlah baris:", data_exploded.shape[0])

['full_time' 'contract' 'internship' '0' 'part_time' 'temporary']
Jumlah baris: 506885

In [ ]:
drop_list = [
    '0'
]

# Drop baris yang lokasi-nya ada di drop_list
data_exploded = data_exploded[~data_exploded['employment'].isin(drop_list)]

print(data_exploded['employment'].unique()[:10])

['full_time' 'contract' 'internship' 'part_time' 'temporary']

In [ ]:
print(data_exploded['categoriesName'].unique()[:10])

['Sumber Daya Manusia/Personalia,Sumber Daya Manusia / HR'
 'Komputer/Teknologi Informasi,IT-Perangkat Lunak'
 'Pendidikan/Pelatihan,Pendidikan'
 'Komputer/Teknologi Informasi,IT-Admin Jaringan/Sistem/Database'
 'Penjualan / Pemasaran,Digital Marketing'
 'Penjualan / Pemasaran,Pemasaran/Pengembangan Bisnis'
 'Sumber Daya Manusia/Personalia,Sekretaris'
 'Sumber Daya Manusia/Personalia,Staf / Administrasi umum'
 'Manufaktur,Manufaktur' 'Seni/Media/Komunikasi,Seni / Desain Kreatif']

In [ ]:
print(data_exploded['jobTitle'].unique()[:10])

['Human Capital Business Partner'
 'UX Mentor (Apple Developer Academy BINUS)'
 'Lecturer Specialist - S2 Entrepreneurship (Binus Bandung)'
 'Junior Network Administrator' 'Subject Teacher (ICT)'
 'Software Developer' 'Subject Teacher (Music) BINUS SCHOOL Semarang'
 'Subject Teacher (Physical Education)' 'Senior Researcher'
 'Social Media & Content Creator']

In [ ]:
print(data_exploded['companyName'].unique()[:10])

['MODENA INDONESIA' 'Yayasan Bina Nusantara' 'GriyaBayar'
 'PT Artha Jaya Adi Perkasa' 'PT Cito Putra Utama' 0
 'PT Bhakti Idola Tama' 'Montessori Huas Asia'
 'Dheeren Interior Furniture' 'PT Ako Media Asia']

In [ ]:
# Pastikan kolom postedAt jadi datetime
data_exploded['postedAt'] = pd.to_datetime(data_exploded['postedAt'], errors='coerce')

# Pisahkan tanggal & jam
data_exploded['date'] = data_exploded['postedAt'].dt.date   # hanya tanggal
data_exploded['time'] = data_exploded['postedAt'].dt.time   # hanya waktu

print(data_exploded[['postedAt', 'date', 'time']].head())

             postedAt        date      time
0 2021-12-12 17:26:32  2021-12-12  17:26:32
1 2021-12-12 17:00:00  2021-12-12  17:00:00
2 2021-12-12 17:00:00  2021-12-12  17:00:00
3 2021-12-12 17:00:00  2021-12-12  17:00:00
4 2021-12-12 17:00:00  2021-12-12  17:00:00

In [ ]:
# Hapus baris dengan companyName == "0"
#data_exploded = data_exploded[data_exploded['companyName'] != "0"]

# Cek apakah masih ada "0" di companyName
#sisa = (data_exploded['companyName'] == "0").sum()

#print("Jumlah data setelah hapus companyName=0:", data_exploded.shape[0])
#print("Jumlah companyName yang masih '0':", sisa)

Jumlah data setelah hapus companyName=0: 301350
Jumlah companyName yang masih '0': 0

In [ ]:
print(data_exploded['companyName'].unique()[:20])  # cek 20 data unik pertama
print(data_exploded['companyName'].dtype)          # cek tipe datanya

['MODENA INDONESIA' 'Yayasan Bina Nusantara' 'GriyaBayar'
 'PT Artha Jaya Adi Perkasa' 'PT Cito Putra Utama' 0
 'PT Bhakti Idola Tama' 'Montessori Huas Asia'
 'Dheeren Interior Furniture' 'PT Ako Media Asia' 'AL-HUSIN STORE'
 'PT Petra Sejahtera Abadi' 'PT Go Online Destinations'
 'PT. Bina Sinar Amity (BSA Logistics)' '#LI-SS1' 'Kitabisa.com'
 'Dutch Lady Milk Industries' 'PT Solubis Sukses Gemilang'
 'Friesland Campina' 'Deutsche Bank']
object

In [ ]:
# Ubah jadi string dan buang spasi
data_exploded['companyName'] = data_exploded['companyName'].astype(str).str.strip()

# Hapus semua yang nilainya "0"
data_exploded = data_exploded[data_exploded['companyName'] != "0"]

# Cek lagi
print("Masih ada 0? ->", (data_exploded['companyName'] == "0").sum())

Masih ada 0? -> 0

In [ ]:
# Loop semua kolom numerik
for col in data_exploded.select_dtypes(include=['int64', 'float64']).columns:
    q1 = data_exploded[col].quantile(0.25)
    q3 = data_exploded[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    # Hitung jumlah outlier
    outliers = ((data_exploded[col] < lower_bound) | (data_exploded[col] > upper_bound)).sum()

    print(f"Kolom: {col}")
    print(f"  Q1 = {q1}")
    print(f"  Q3 = {q3}")
    print(f"  IQR = {iqr}")
    print(f"  Batas bawah = {lower_bound}")
    print(f"  Batas atas  = {upper_bound}")
    print(f"  Jumlah outlier = {outliers}\n")

Kolom: Unnamed: 0
  Q1 = 106029.25
  Q3 = 417502.25
  IQR = 311473.0
  Batas bawah = -361180.25
  Batas atas  = 884711.75
  Jumlah outlier = 0

Kolom: salaryMin
  Q1 = 0.0
  Q3 = 2000000.0
  IQR = 2000000.0
  Batas bawah = -3000000.0
  Batas atas  = 5000000.0
  Jumlah outlier = 28588

Kolom: salaryMax
  Q1 = 0.0
  Q3 = 3000000.0
  IQR = 3000000.0
  Batas bawah = -4500000.0
  Batas atas  = 7500000.0
  Jumlah outlier = 29801

In [ ]:
data_outlier = data_exploded.copy()

for col in data_outlier.select_dtypes(include=['int64', 'float64']).columns:
    q1 = data_outlier[col].quantile(0.25)
    q3 = data_outlier[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    data_outlier = data_outlier[
        (data_outlier[col] >= lower_bound) &
        (data_outlier[col] <= upper_bound)
    ]

print("Jumlah data setelah buang semua outlier numerik:", data_outlier.shape[0])

Jumlah data setelah buang semua outlier numerik: 215087

In [ ]:
print(data_outlier.shape)

(215087, 23)

In [ ]:
import re

# Fungsi untuk hapus karakter ilegal Excel
def clean_text(x):
    if isinstance(x, str):
        # hapus karakter ASCII terlarang (\x00 - \x1F kecuali tab, newline, carriage return)
        return re.sub(r"[\x00-\x08\x0B-\x0C\x0E-\x1F]", "", x)
    return x

# Terapkan ke semua kolom object
data_outlier = data_outlier.applymap(clean_text)

# Baru ekspor
data_outlier.to_excel("Data_Visualisasi2.xlsx", index=False)

print(" Data berhasil diekspor ke Data_Visualisasi2.xlsx tanpa karakter ilegal")

/tmp/ipython-input-515947681.py:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_outlier = data_outlier.applymap(clean_text)

 Data berhasil diekspor ke Data_Visualisasi2.xlsx tanpa karakter ilegal